{{!< ../layout}}

<!--
 Automatically transition an issue to {available transitions}, if:
 {reporter is in group} {list of groups}
 {priority is} {list of priorities}
-->
<section id="validation-errors">
    <ul></ul>
</section>
<form class="aui" id="postfunction-config" style="height:300px;" data-config="{{config}}">
    <p><label for="transition-name">Perform the transition called </label>
        <input id="transition-name" type="text"/>
    </p>
    <fieldset>
        <ul>
            <li>
                <input type="radio" name="transition-condition" id="group" checked value="group"/>
                <label for="group">If the user is in the group:</label>
                <input type="hidden" id="group-picker" data-placeholder="select a group"/>
            </li>
            <li>
                <input type="radio" name="transition-condition" id="priority" value="priority"/>
                <label for="priority">If the issue has priority greater than or equal to:</label>
                <input type="hidden" id="priority-picker" data-placeholder="select a priority"/>
            </li>
        </ul>
    </fieldset>
</form>
<script src="{{furl '/js/workflow/workflow.js'}}"></script>
