{{!< ../layout}}

Trigger the transition {{config.transitionName}} if
{{~#if config.group}} the user is in the group {{config.group.name}}.
{{~^}} the issue is of priority {{config.priority.name}} or higher.{{/if~}}
